 /* Opera/IE 8+ */
 .linkedopentextinput-component {
     .linkedopentextinput-item {
         background-color: @primary-color;
         padding: @item-padding;
         position:relative;
         margin-bottom:2px;
     }
     label {
         background-color: transparent;
         line-height: 32px;
         padding: 0px;
         float: left;
         text-align: center;
         cursor: default;
         color: @inverted-foreground-color;
     }
     .linkedopentextinput-item-prefix {
         width:20%;
     }
     .linkedopentextinput-item-suffix {
         width:10%;
     }
     .button {
         outline: none;
         text-decoration: none;
         padding: @button-padding;
         color: @button-text-color;
         background-color: @button-color;
         display: none !important;
         margin-top:8px;
     }
     .linkedopentextinput-widget {
         &.model {
             .linkedopentextinput-select-icon {
                 display: none;
             }
         }
     }
     .linkedopentextinput-item-state {
         background: none;
         position: absolute;
         right: (@icon-size/2);
         width: @icon-size;
         height: @icon-size;
         top: 50%;
         margin-top: -(@icon-size/2);
         z-index: 0;
     }
 }
 .linked-answer-container {
     width: 100%;
 }
 .linkedopentextinput-inner {
     display: none;
     &.display {
         display: block;
     }
 }
 .linkedopentextinput-useranswer, .linkedopentextinput-modelanswer {
     border: 1px solid #333;
     width: 40%;
     padding: 20px 50px;
 }
 .no-touch {
     .button {
         &:hover {
             color: @button-text-hover-color;
             background-color: @button-hover-color;
         }
     }
 }
