{{! Maintainers - LearnChamp}}
<div class="component-inner linkedopentextinput-inner">
    {{#if title}}
    <div class="component-title linkedopentextinput-title">
        <h4 class="component-title-inner linkedopentextinput-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body linkedopentextinput-body">
        <div class="component-body-inner linkedopentextinput-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="component-widget linkedopentextinput-widget">
    <div class="linked-answer-container">
         <span class="linkedopentextinput-useranswer"></span>
         <span class="linkedopentextinput-item-textbox linkedopentextinput-modelanswer">{{{modelAnswer}}}</span>
    </div>
    
        <div class="buttons">
             {{> buttons this}}
        </div>
    </div>
</div>