{{! Maintainers - LearnChamp}}
<div class="component-inner linkedOpenTextInput-inner">
    {{> component this}}
    <div class="component-widget linkedOpenTextInput-widget">
    <div class="linkedOpenTextInput-answer-container">
        <textarea class="linkedOpenTextInput-item-textbox"
           placeholder="{{placeholder}}" disabled="true"></textarea>
    </div>
    {{#if modelAnswer}}
        <div class="buttons">
            <button class="linkedOpenTextInput-action-button" disabled="true">
                {{_buttons.showModelAnswer}}
            </button>
        </div>
    {{/if}}
    </div>
</div>